<!DOCTYPE html>
<html>
  <head>
    {{>header }}
  </head>
  <body>
    {{>navbarProgress }}
    <div class="content container col-sm-6">
      <div class="container lead">
        <h1 style="padding-bottom: 50px;">#DevProgress</h1>
        <p>Un sabato mattina del 1998 (avevo 7 anni). Mio padre mi portò a visitare il suo posto di lavoro, 
          entrati nell'ufficio costituito da una serie di postazioni con terminale accese il suo, aprì un file di testo, mi fece digitare il mio 
          nome e cognome e lanciò una stampa su una stampante ad aghi dal rumore infernale. Tornai a casa con un plico di fogli con sopra scritto 
          in stampatello "****** *******". E lo avevo fatto io.
        </p>
        <p>
          Il secondo episodio risale a due anni più tardi, nel 2000. Tra noi bambini era esploso il fenomeno <i>Pokémon</i> e tra figurine, carte da gioco,
          giornalini, game boy e disegni i pomeriggi erano ben impegnati. 
          Ma esisteva un luogo ancora inesplorato e un pomeriggio, nella camera di mio zio (che meriterebbe una trattazione a parte per le meraviglie che contiene), 
          sulla tastiera di un iMac G3 blu, digitai <i>www.pokemon.com</i>.
        </p>
        <p>
          L'aspirazione è quella di costruire una specie di diario: nessuna soluzione corretta (non ho tale pretesa e nemmeno l'esperienza per realizzarle) 
          ma il racconto di un percorso, fatto passo passo.
        </p>
        <p>
          Se vi può interessare vi aspetto nei link sotto.
        </p>
      </div>
      <div class="container">
        <table class="table table-hover lead">
          <thead>
            <tr>
              <th scope="col">Titolo</th>
              <th scope="col">Data</th>
            </tr>
          </thead>
          <tbody>
            {{#each dev}}
              {{#if draft}}
              {{else}}
                <tr>
                  <td class="titolo"><a class="link-secondary" href="../{{ path }}">{{title}}: {{subtitle}}</a></td>
                  <td class="data">{{date}}</td>
                </tr>
              {{/if}}
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
    {{>footer }}
  </body>  
</html>