<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../assets/css/layout.css">    
    <title>{{ site.name }}</title>
    <meta name="description" content="{{#if blurb}}{{ blurb }}{{else}}{{#if description}}{{ description }}{{else}}{{ site.description }}{{/if}}{{/if}}" />
  </head>
  <body>
    {{> navbar-index }}
    <div class="content">
      <div class="container progressMenu">
        <div class="row">
          <div class="col-sm-4">
            <div class="card">
              <a href="readprogress"><img src="./assets/images/read.jpeg" class="card-img-top" alt="Copertina #ReadProgress"></a>
              <div class="card-body">
                <h5 class="card-title">#ReadProgress</h5>
                <p class="card-text">La mia lista di libri. Niente di più, niente di meno. Così vi fate un'idea.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card">
              <a href="thinkprogress"><img src="./assets/images/think.jpeg" class="card-img-top" alt="Copertina #ThinkProgress"></a>
              <div class="card-body">
                <h5 class="card-title">#ThinkProgress</h5>
                <p class="card-text">Pensieri, riflessioni, esplorazioni, cose. Una traccia della mia evoluzione.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card">
              <a href="devprogress"><img src="./assets/images/dev.jpeg" class="card-img-top" alt="Copertina #DevProgress"></a>
              <div class="card-body">
                <h5 class="card-title">#DevProgress</h5>
                <p class="card-text">Il mio "making" perchè manualmente non sono un fenomeno.</p>
              </div>
            </div>
          </div>
        </div>
      </div>     
    </div>      
    {{> footer }}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>
  </body>  
</html>