<!DOCTYPE html>
<html>
  <head>
    {{>header }}
  </head>
  <body>
    {{>navbarProgress }}
    <div class="container content col-sm-6">
      <div class="container">
        <h1>#ReadProgress</h1>
        <p>
          Sono stato un bambino e un adolescente che ha sempre apprezzato la lettura. 
          Con l'inizio delle superiori però l'attività ha subito una brusca frenata e questo stato è perdurato per molti anni a seguire.
          Nell'aprile del 2020, complice un lock-down da pandemia ho preso per mano un libro intitolato <i>"I Simpson e la filosofia"</i> ed è stata una nuova primavera.
        </p>
        <p>
          Da quel momento in poi di fatto non ho mai smesso di leggere, qualche alto e pochi bassi, facendo diventare il momento della lettura una routine.
          L'epifania l'ho trovata nella parole di Martha Nussbaum, in cui afferma che certe verità possono essere comunicate in modo adeguato solo nell'arte.
          Io sono di natura affascinato e attirato dai saggi, ma trovare un saggio che promuove la narrativa è stato illuminante.
        </p>
        <p>
          In un modo non ancora del tutto chiaro quella lettura ha dato il via ad una serie di pensieri che hanno portato alla nascita di questo progetto e quindi ho deciso di riservare 
          una pagina dedicata semplicemente all'elenco dei libri.
          Qui non ci troverete recensioni (forse ne lascio qualcuna sul mio profilo Anobii) e nemmeno una classifica con i consigliati e non consigliati: non esiste il libro 
          imprescindibile e nemmeno quello che non andrebbe letto mai. Ogni libro ha il suo tempo e il suo momento, lasciatevi ispirare, smettete, riprendete, cambiate.
        </p>
        <p>
          Il motivo per cui leggo è per sfamare curiosità e tenere a bada la sindrome dell'impostore; prediligo la lettura perchè ti impone del tempo, rende più difficile la distrazione 
          impegnando contemporanemente occhi, orecchie (se leggete a voce alta), mani e cervello.
        </p>
        <p>
          Vi lascio alla lista, ciao!
        </p>
      </div>
      <div class="container">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Titolo</th>
              <th scope="col">Autore</th>
              <th scope="col">Data Inizio</th>
              <th scope="col">Data Fine</th>
            </tr>
          </thead>
          <tbody>
            {{#each read }}
            <tr>
              <td class="titolo">{{titolo}}</td>
              <td class="autore">{{autore}}</td>
              <td class="data">{{datainizio}}</td>
              {{#if datafine}}<td class="data">{{datafine}}</td>{{else}}<td class="data">In corso</td>{{/if}}
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
    {{>footer }}
  </body>  
</html>